.item-card {
  text-align: center;
  width: 250px;
  height: 350px;

  .mat-mdc-card-header {
    background-color: rgb(207, 207, 251);
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .add-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
  }

  .add-btn:hover {
    color: blue;
  }
}
